@charset "UTF-8";

#wrap {
	width: 800px;
	margin: 0 auto;
}

header {
	height: 100px;
}

header > .logo {
	width: 200px;
}

header > .search {
	width: 1000px;
}

.menu {
	height: 40px;
}

footer {
	height: 70px;
}
